body
  word-wrap break-word
  overflow-x hidden
  overflow-y scroll
  margin 0 auto
  text-align center

.ly-main
  width 93.75% // 300px on 320px
  max-width 1250px // stop the UI from breaking
  margin 0 auto

@media only screen and (min-width: 768px)
  .ly-main
    padding-bottom 25px
