.lk-button
  padding 10px
  text-align center
  display inline-block
  background-color c-yellow
  box-shadow 1px 1px 0 c-black

  &:hover
    text-decoration none
    background-color lighten(c-yellow, 20%)
