f-core = 'Helvetica Neue', HelveticaNeue, HelveticaNeueRoman, HelveticaNeue-Roman, 'Helvetica Neue Roman', TeXGyreHeros, FreeSans, 'Nimbus Sans L', 'Liberation Sans', Helvetica Tahoma, Geneva, Arial, sans-serif
